.guild-members-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.guild-member {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px;
    padding: 5px 10px;
    background-color: #dbdbdb;
    border-radius: 10px;
}

