/* mobile view */

.NavBar {
    background-color: white;
    border-bottom: 1px solid rgb(124, 124, 124);
    height: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 10;
}

.NavBar-mobile-menu {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    cursor: pointer;
    z-index: 20;
}

.NavBar-mobile-menu .bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
    margin: 3px 0px;
}

.NavBar-links {
    position: absolute;
    left: -400px;
    display: flex;
    flex-direction: column;

    width: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    background-color: white;
    max-height: 400px;
    z-index: 10;
}

.NavBar-links.active {
    top: 50px;
    left: 0px;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.NavBar-userNav {
    display: flex;
    flex-direction: column;
}

.NavBar-links a {
    color: rgb(77, 77, 77);
    text-decoration: none;
    text-shadow: 1px 1px 1px #1a1a1a inset;
    font-size: 0.9rem;
}

.NavBar-links a:hover {
    color: rgb(38, 125, 206);
}

.NavBar-links a:active {
    color: rgb(0, 65, 243);
}

.NavBar-link {
    margin: 5px 10px;
    padding: 8px 10px;
    border-top: 0.3px solid #cccccc6e;
    border-bottom: 0.3px solid #cccccc6e;
}

.NavBar-mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.NavBar-mobile-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.NavBar-mobile-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -7px);
}

.NavBar-logo-img {
    width: 35px;
    height: 35px;
    margin: 0px 20px;
}

.NavBar-text-logo {
    width: 9rem;
    align-self: center;
    margin: 0px 10px;
}

.NavBar-button-background {
    padding: 0px;
    border: none;
    box-shadow: none;
    margin: 0px 3px;
}

.NavBar-button-foreground {
    padding: 0px;
    border: none;
}

/* desktop view */
@media (min-width: 40rem) {
    .NavBar {
        padding: 0px 100px;
    }

    .NavBar-links {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        background-color: rgba(0, 0, 0, .0);
    }

    .NavBar-link {
        border: none;
        margin: 0px;
    }

    .NavBar-mobile-menu {
        display: none;
    }

    .NavBar-logo-img {
        position: relative;
        justify-self: left;
        width: 35px;
        height: 35px;
        z-index: 10;
    }

    .NavBar-userNav {
        display: flex;
        flex-direction: row;
    }

    .NavBar-links.active {
        top: 0px;
        transition: all 0s ease;
        height: 50px;
    }

    .NavBar-button-background {
        padding: 2px;
        border-radius: 15px;
        background: #E9E9E9;
        box-shadow: 5px -4px 3px 0px #F0F0F0 inset, -3px 3px 3px 0px #F0F0F0 inset, 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .NavBar-button-foreground {
        padding: 0px 10px;
        border-radius: 15px;
        border-radius: 15px;
        background: #E9E9E9;
        box-shadow: 1px -1px 2px 0px rgba(255, 255, 255, 0.71) inset, -1px 1px 2px 0px rgba(255, 255, 255, 0.62) inset;
    }

}