* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.home__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__container>* {
    margin-bottom: 10px;
}

.home__header {
    margin-bottom: 30px;
}

.username__input {
    padding: 10px;
    width: 50%;
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;

}

.chat__sidebar {
    height: 100%;
    background-color: #f7f7f7;
    flex: 0.2;
    padding: 20px;
    border-right: 1px solid #fdfdfd;
}

.chat__main {
    height: 100%;
    position: relative;
    top: 0vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}

.chat__header {
    margin: 30px 0 20px 0;
}

.chat__users>* {
    margin-bottom: 10px;
    color: #607EAA;
    font-size: 14px;
}

.online__users>* {
    margin-bottom: 10px;
    color: rgb(238, 102, 102);
    font-style: italic;
}

.chat__mainHeader {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f7f7f7;
}

.leaveChat__btn {
    padding: 10px;
    width: 150px;
    border: none;
    background-color: #D1512D;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.message__container {
    width: 100%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
}

.message__container>* {
    margin-bottom: 10px;
}

.chat__footer {
    padding: 10px;
    background-color: #f7f7f7;
    width: 100%;
    height: 10vh;
}


.message {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.chat-input-field {
    width: 100%;
}

.sendBtn {
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    outline: none;
    color: #EAE3D2;
    cursor: pointer;
}

.sendBtn:hover {
    background-color: rgb(129, 201, 129);
}

.message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}

.message__event_sender {
    background-color: rgb(38, 125, 206);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}

.message__event_sender p {
    color: white;
}

.message__event_recipient {
    background-color: rgb(38, 125, 206);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.message__event_recipient p {
    color: white;
}

.message__chats>p {
    font-size: 13px;
}

.sender__name {
    text-align: right;
}

.message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
}

/* Scroll to the top */
.scroll-to-top {
    transform: translateY(-100%);
}

/* Scroll to the bottom */
.scroll-to-bottom {
    transform: translateY(100%);
}

.dashboard-expanding-pannel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 120px;
    border-bottom-left-radius: 10px;
    background-color: #f7f7f759;
    backdrop-filter: blur(5px);
    z-index: 10;
    right: 0px;
}

.user-thumbnail {
    display: flex;
    width: 100%;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    border-right: none;
    font-size: 1rem;
    cursor: pointer;
}

.user-thumbnail-legend {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.dice-img {
    width: 60px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.dice-img.selected {
    border: 2px solid rgb(38, 125, 206);
    border-radius: 10px;
}

.position-dice-pannel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 280px;
    left: 15%;
    width: 70%;
    height: auto;
    z-index: 10;
}

.dice-pannel-frame {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}





@media (min-width: 40rem) {
    .chat__main {
        height: 89vh;
        position: relative;
        top: 0vh;
        width: 100%;
        flex: 0.8;
    }

    .chat__footer {
        margin-bottom: 30px;
    }

    .message {
        width: 80%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .dice-img {
        width: 60px;
        height: auto;
        margin: 10px;
    }

}